<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

	<connectionStrings>
		<add name="ik102g_db16" connectionString="Server=studentpsql.miun.se;Port=5432;
			 Database=ik102g_db16;User Id=ik102g_1916;Password=databas19;SslMode=Require;"/>
	</connectionStrings>

</configuration>